.periods {
  margin: 50px;
  font-family: $logo-font;
  color: $light-primary-color;
  font-weight: bold;

.periodInfo {
  // height: 100vh(-220px); how to do this?
  h1 {
    font-size: 80px;
    margin-bottom: 30px;
  }


    .feb {
      color: #dc2a5e;
      text-align: left;
      font-size: 50px;
      margin-bottom: 30px;
    }

  button {
    background-color: $white;
    border: 1px solid black;
    color: $dark-primary-color;
    border: 0px;
    height: 40px;
    margin-right: 90px;
    margin-left: 90px;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 20px;
    text-decoration: underline;
  }

  button:hover {
    background-color: $light-primary-color;
    color: $white;
  }

  button:focus {
    background-color: $light-primary-color;
    color: $white;
    outline: $dark-primary-color;
  }
}
}

.event {
  background: url("../images/period.jpeg") !important;
  width: 25px !important;
  height: 25px !important;
  border-color: $light-primary-color !important;
}

.event:focus {
  outline: $light-primary-color !important;
}
