.modalcont {
  margin: 15px;
}

.modal-content {
  margin: 0 auto;
  width: 80%;
  height: 400px;
  font-family: $logo-font;
  color: $light-primary-color;
}

.info {
  margin-bottom: 30px;
}

.form-control {
  width: 95%;
}

.note-section {
  width: 60%;
}
