header {
  width: 100%;
  font-family: $logo-font;


  .site-header-top {
    color: $primary-color;
    margin-top: 0;
    text-align: center;
    display: block;
    border-top: 0;
    background-color: $bg-color;

    .home-brand {
      font-size: 10rem;
      font-family: $logo-font;
      color: $primary-color;
      line-height: 150px;
      height: 64px;
      text-decoration: none;
    }
  }

  .cont {
    background-color: $white;
    margin: 0 auto;
    width: 99%;
    text-align: center;


    .naving {
      width: 100%;
      display: inline-block;
      text-align: center;
      list-style-type: none;

    }


    .column {
      border-left: 1px solid #9F9E9E;
      background-color: $white;
      height: 70px;

      .avicon {
        width: 22px;
        height: 25px;
        position: absolute;
        left: 90px;
        top: 8px;
      }

      > li > a {
        text-decoration: none;
        color: $primary-color;
        font-family: $logo-font;
        font-weight: bold;
        font-size: 1.5rem;
        padding: 10px;
        position: absolute;
        left: 45px;
        bottom: 0px;

      }
    }
  }
}

header .container .column:hover {
  background-color: $primary-color;
  color: $white;
}

header .container .column:hover img { -webkit-filter: invert(100%) !important; }
header .container .column:hover a { color: #fff !important; }
