header {
  background: $white;
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
  line-height: 64px;

.site-header-top {
  color: $dark-primary-color;
  margin-top: 0;
  position: relative;
  text-align: center;
  display: block;
  border-top: 0;
  background-color: $bg-color;

  .home-brand {
  font-size: 10rem;
  font-family: $logo-font;
  color: $dark-primary-color;
  line-height: 150px;
  height: 64px;
  text-decoration: none;

  }
}

.navbar-default {
    background-color: $white;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;

  }
.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-nav > li > a {
  color: $dark-primary-color;
  font-family: $nav-font;
  font-size: 2rem;
  vertical-align: middle;
}
.navbar-default .navbar-nav > li > a:hover {
  color: $light-primary-color;
  font-family: $nav-font;
  font-size: 2rem;
  vertical-align: middle;

}
}
