<div class="container">
  <div class="span3 well col-sm-5 col-xs-12">
    <center>
      <h3>{{ periodShow.period.date }}</h3>
      <h4 class="media-heading">Date of period: {{ periodShow.period.date  }}</h4>
      <h4 class="media-heading"><small><span>Bleeding </span>{{periodShow.period.bleeding}}</small></h4>
      <h5>Pain experienced:</h5>
      <h3>{{periodShow.period.pain}}</h3>
      <p>{{periodShow.period.notes}}</p>


      <!-- <button ng-hide="userShow.isCurrentUser()" class="btn btn-primary" ui-sref="userEdit">Edit</button>
      <button ng-hide="userShow.isCurrentUser()" class="btn btn-warning" ng-click="userShow.delete()">Delete</button> -->

    </center>
  </div>
</div>
