<div class="showpageusers">

  <div class="row">
    <div class="col-md-6" id="imgg">
      <img class="image" ng-src="{{userShow.user.image}}" alt="Description">
    </div>
    <div class="col-md-6" id="coll-info">
      <div class="info-card">
        <div class="showtext">
          <h3 class="name"><span>{{ userShow.user.username | uppercase }}</span></h3>
          <h4 class="age"><span>{{ userShow.user.age }}</span> YEARS OLD</h4>
          <h4 class="contraception">USING THE  <span>{{userShow.user.contraception | uppercase}}</span> AS CONTRACEPTION</h4>
          <h4>LAST PERIOD DATE <span>{{userShow.user.lastPeriod}}</span></h4>
              </div>
          <button class="btn btn-secondary" ui-sref="periodsIndex">My Periods</button>

          <button ng-hide="userShow.isCurrentUser()" class="btn btn-third" ui-sref="userEdit">Edit Profile</button>
          <button ng-hide="userShow.isCurrentUser()" class="btn btn-warning" ng-click="userShow.delete()">Delete Profile</button>

      </div>
    </div>

  </div>
</div>
