<section class="container">
  <h1 class="register">New Period</h1>
  <p class="info">Enter your daily data below</p>
  <form ng-submit="periodNew.create()">
    <div class="row">
      <div class="col-md-4">
        <label for="pain"> What kind of pain are you experiencing? </label>
        <select name="pain" ng-model="periodNew.period.pain">
          <option value="1">Achey Feeling</option>
          <option value="2">Cramps</option>
          <option value="3">Cramps and Headache</option>
          <option value="4">Cramps, Headache and Nausea</option>
          <option value="5">Kill Me Now</option>
        </select></div>

        <div class="col-md-4">
          <label for="bleeding"> How heavy is your bleeding? </label>
          <select name="bleeding" ng-model="periodNew.period.bleeding">
            <option value="1">Light</option>
            <option value="2">Medium</option>
            <option value="3">Heavy</option>
          </select></div>
          <div class="row">
            <div class="col-md-6"><label>Any notes</label><input class="form-control" type="text" name="Notes" ng-model="periodNew.period.notes" placeholder="Notes"></div>
            <input class="btn btn-primary" type="submit" value="Submit" />
          </div>
        </div>
      </form>
    </section>
