<section class="container modalcont">
  <h1 class="logof">NEW PERIOD</h1>
  <hr>
  <h2 class="logof">ENTER BELOW FOR TODAY</h2>
  <form ng-submit="periodNew.create()">
    <div class="row">
      <div class="col-md-4">
        <select name="pain" ng-model="periodNew.period.pain">
          <option value="" disabled selected>Pain today</option>
          <option value="1">Achey Feeling</option>
          <option value="2">Cramps</option>
          <option value="3">Cramps and Headache</option>
          <option value="4">Cramps, Headache and Nausea</option>
          <option value="5">Kill Me Now</option>
        </select></div>

        <div class="col-md-3">
          <select name="bleeding" ng-model="periodNew.period.bleeding">
            <option value="" disabled selected>Bleeding</option>
            <option value="1">Light</option>
            <option value="2">Medium</option>
            <option value="3">Heavy</option>
          </select></div>
          <div class="note-section">


          <h6>ADD A NOTE</h6><input class="form-control" type="text" name="Notes" ng-model="periodNew.period.notes" placeholder="Notes"></div>
            <input class="btn btn-primary" type="submit" value="Submit" />
                      </div>
      </form>
    </section>
