$dark-primary-color:  #190019;
$primary-color:       #2D022D;
$light-primary-color: #450D44;
$bg-color:            #fcfcfc;
$white:               #FFF;
$pale-lav:            #E8D7FF;

$logo-font:   'Poiret One', cursive;
$nav-font:    'Lalezar', cursive;
$text-font:   'Josefin Sans', sans-serif;
