$dark-primary-color:  #190019;
$primary-color:       #2D022D;
$light-primary-color: #450D44;
$font-color:          #333333;
$white:               #FFFBFC;
$pale-lav:            #E8D7FF;

$logo-font:   'Poiret One', cursive;
