<div class="aboutpage">
  <div class="row first">
    <div class="col-md-6" id="tampons">
      <img src="../images/tampons.jpg" alt="">
    </div>
    <div class="col-md-6" id="educate">
      <h1>Why Should I <br> Educate Myself?</h1>
    </div>
  </div>
  <div class="row second">
    <div class="col-md-6" id="info">
      <h2><span>11,000 </span>Number of feminine care products a woman uses in her lifetime</h2>
      <h2><span>38 </span>Av number of working days required to pay for a life's supply</h2>
      <h2><span>28311 kg </span>Amount of unsustainable, unenvironmentally-friendly waste produced</h2>
      <h2><span>0 </span>Number of ingredients required by the FDA to be disclosed to the customer</h2>
      <h2><span>0 </span>Number of studies conducted on the long-term effects of artificial fibre tampons</h2>
      <h2><span>5% </span>Amount tampons and other sanitrary products are taxed in the UK, as a luxury product</h2>
    </div>
    <div class="col-md-6" id="uterus">
      <img src="../images/uterus.png" alt="">
    </div>
  </div>
  <div class="options">
    <h1>Well, give me some other options!</h1>
    <div class="row">
      <div class="col-md-3">
        <img class="lola" src="../images/lola.png" alt="">
        <h3>Organic tampons</h3>
        <p>There are more and more companies springing up like <a href="https://mylola.com">My Lola</a> and <a href="https://consciousperiod.com/">Conscious Period</a> sell cotton tampons that are unharmful to both the environment and your body.</p>
      </div>
      <div class="col-md-3">
        <img class="cups" src="../images/cups.jpeg" alt="">
        <h3>Menstrual cups</h3>
        <p>Check out <a href="http://divacup.com/">Diva Cup</a> and <a href="http://www.mooncup.co.uk/">Moon Cup</a> for an environmentally friendly cup that is both safe and easy to use, and can be washed and worn again.</p>
      </div>
      <div class="col-md-3">
        <img class="flex" src="../images/flex.jpeg" alt="">
        <h3>Period disks</h3>
        <p>One of the most exciting offerings is from <a href="https://flexfits.com/">Flex Fits</a>, which is a disk that lasts up to 12 hours, can be worn during sex and also claims to relieve period cramps.</p>
      </div>
      <div class="col-md-3">
        <img class="thinx" src="../images/thinx.jpeg" alt="">
        <h3>Period pants</h3>
        <p>Just wear underwear! <br> <a href="https://www.shethinx.com/">THINX</a>  have created environmentally-friendly, period-proof underwear that are also anti-microbial and comfortable. </p>
      </div>
    </div>
  </div>
</div>
